@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar__link:hover {
    color: #ff8f9c;
    transition: all 0.4s;
  }
  .navbar__link::after {
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }
  .navbar__link:hover::after {
    scale: 1;
  }
  input:focus {
    outline: none;
    box-shadow: 0 0 0 2px linear-gradient(to right, #ff6e7f, #bfe9ff);
  }
  .truncate-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit text to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .team-container {
    position: relative;
  }
  .team-board,
  .team-leaders,
  .team-members {
    margin-bottom: 2rem;
  }
  .team-member img {
    border-radius: 50%;
  }
  .team-member {
    position: relative;
  }
  .team-member h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0.5rem;
  }
  .team-member p {
    font-size: 1rem;
    margin-top: 0.25rem;
  }
  .hover-container {
    position: relative;
    overflow: hidden;
  }
  .hover-image-container img {
    transition: transform 0.3s ease;
  }
  .hover-container:hover .hover-image-container img {
    transform: scale(1.2);
  }
  .hover-image-container {
    cursor: pointer;
  }
  .hover-image-container img {
    transition: transform 0.3s ease-in-out;
  }
  .hover-container:hover .hover-image-container img {
    transform: scale(1.05);
  }
}
